/*Global Styles*/
body {
	background-color: var(--bg-primary);
	font-family: var(--main-font);
}

header {
	padding: 40px;
	margin: 0 auto;
}

.logo__holder img {
	max-width: 100%;
    display: block;
    margin: 0 auto;
}

footer {
	margin: 0 auto;
	padding: 40px;
	display: flex;
    flex-direction: column;
    text-align: center;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 40px;
}


/*Font Styles*/
h1 {
	font-size: 2.5rem;
	font-weight: 600;
	color: var(--heading-primary);
}

h1 span {
	font-weight: 700;
	color: var(--text-primary);
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-primary);
}

.copyright__text {
	font-size: 0.8125rem;
	font-weight: 400;
	color: var(--heading-primary);
}


/*Coming-soon Section*/
.coming-soon {
	text-align: center;
}

.coming-soon img {
	display: block;
	width: 100%;
	margin-top: 80px;
}

button {
	color: var(--bg-primary);
	font-size: 1.25rem;
	font-weight: 600;
	padding: 15px 40px;
	background-color: var(--button-primary);
	border-radius: 30px;
	max-width: 400px;
	display: block;
	width: 100%;
	margin-top: 10px;
}

button:hover {
	background-color: rgba(79, 125, 243, 0.8);
}

input  {
	padding: 15px 40px;
	color: var(--text-secondary);
	font-size: 1rem;
	font-weight: 400;
    border: 2px solid var(--text-secondary);
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.fa-brands, .fa-solid {
	text-align: center;
	border-radius: 90px;
	border: 1px solid var(--heading-primary);
	color: var(--button-primary);
	padding: 7px;
	margin: 0px 5px;
	font-size: 0.9rem;
	width: 30px;
	height: 30px;
}

.fa-brands:hover, .fa-solid:hover {
	background-color: var(--button-primary);
	border: 1px solid var(--button-primary);
	color: var(--bg-primary);
}

.social-logo__holder {
	padding-bottom: 20px;
}

#result {
	font-size: 0.8125rem;
	color: var(--error-primary);
	display: none;
	padding-top: 15px;
}

.input__holder {
	display: flex;
	flex-direction: column;
}


@media all and (max-width: 781px) {

}


@media all and (min-width: 782px) {
	button {
		margin-left: 10px;
		max-width: 175px;
	}

	form {
		display: flex;
	}
}

